<%- include ("includes/header") %>
<link rel="stylesheet" href="/css/login.css">
<body>
  
          <div class="wrapper">

            <div class="login-box">
                <form class="login_container" action="/dealers/login" method="post">
                <h2>Login</h2>
          
                <div class="input-box">
                  <span class="icon">
                    <ion-icon name="username"></ion-icon>
                  </span>
                  <input type="text" name="mb_nick" required>
                  <label>Username</label>
                </div>
          
                <div class="input-box">
                  <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                  </span>
                  <input type="password" name="mb_password" value="" required>
                  <label>Password</label>
                </div>
          
                <div class="remember-forgot">
                  <label><input type="checkbox"> Remember me</label>
                  <a href="/dealers">Enter Main Page</a>
                </div>
          
                <button class="login_btn" name="login" type="submit">Login</button>
          
                <div class="register-link">
                  <p>Don't have an account? <a href="/dealers/signup">Register</a></p>
                </div>
              </form>
            </div>
          
          </div>
</body>
<%- include ("includes/footer") %>